<!--注意该文件编码为 UTF-8 带 BOM 的，不带 BOM 会解析出错-->
<!DOCTYPE html>
<html>
<head>
    <title>JS Template</title>
    <meta charset="UTF-8">
</head>
<body>

<div>
错误
</div>




<script src="../../resources/Frame/jQuery/jquery-3.2.1.min.js"></script>
<script src="../../resources/js/AjaxUtil.js"></script>
<script src="../../resources/js/jsUtil.js"></script>
<script language="JavaScript">
    /********************************************** Global Class **************************************************/


    /********************************************** Global Variable ***********************************************/

    /********************************************** Global Function ***********************************************/


    /********************************************** Event Code ****************************************************/
    $(function(){

    });

    /********************************************** Automatic Execution Code **************************************/
    $(document).ready(function(){

    });
</script>
</body>
</html>