<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Spring MVC FileUpload</title>
<script type="text/javascript" src="../resource/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="../resource/js/JsUtil.js"></script>
</head>
<body>
	文件上传前端处理的三种方式：
	
	第一种：form 表单提交，无法实现异步请求
	<form method="post" action="" enctype="multipart/form-data">
		<input type="text"/>
		<input type="file" multiple="multiple"/>
	</form>

	第二种：FileReader 把二进制文件编码成字符然后以字符串的形式传给后端，后端再解码
	<input id="fileReaderFiles" type="file" multiple="multiple"/>
	<script type="text/javascript">
		$(function(){
			var fileReader = null;
			if(window.FileReader) {  
			    fileReader = new FileReader();  
			} else {  
			    alert("Not supported by your browser!");  
			} 
			var fileReaderFiles = $("#fileReaderFiles")[0].files;
			//fileReader.readAsDataURL(file); 不一定正确  用到再查资料
		});
	</script>
	
	
	
	第三种：FormData Ajax 提交表单数据
	<input id="formDataFiles" type="file" multiple="multiple"/>
	<script>
		$(function(){
			var formData = new FormData();
			formData.append("name", "kasei");
			formData.append("age", 22);
			
			var formDataFiles = $("#formDataFiles")[0].files;
			for(var i=0; i<formDataFiles.length; i++){
				formData.append("formDataFiles", formDataFiles[i]);
			}
			
			$.ajax({				
				url:"/LearningJourney/addWrong",
				type:"post", 
				data:formData,
				contentType:false, // 必须false
				processData:false, // 必须false
				dataType:"json",
				success:function (returnData, textStatus) {

				},
				error:function (XMLHttpRequest, textStatus, errorThrown) {
					alert("this ajax current an error!");
				}
			}); 
		});
	</script>
</body>
</html>
