<!DOCTYPE html>
<html>
<head>
<title>Parameter Binding</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="../resource/js/jquery-3.2.1.js"></script>
<script type="text/javascript" src="../resource/js/JsUtil.js"></script>
<style type="text/css">
table {
  border-collapse:collapse;
}

table,th, td {
  border: 1px solid #0094ff;
}
</style>
</head>
<body>
	<h1>Parameter Binding(参数绑定): Server 获取 Client 传递过来的数据</h1>
	<table>
		<caption>坑：AJAX 会把所有数据类型都转化成 String 传给 service</caption>
		<thead><tr><td>js 基本类型</td><td>包装对象</td><td>转化后的字符串</td><td>service 类型</td></tr></thead>
		<tbody>
			<tr><td>undefined</td><td></td><td>undefined</td><td>null</td></tr>
			<tr><td>null</td><td></td><td>null</td><td>null</td></tr>
			<tr><td>boolean</td><td>Boolean</td><td>true</td><td>String</td></tr>
			<tr><td>number</td><td>Number</td><td>3.14</td><td>String</td></tr>
			<tr><td>string</td><td>String</td><td>hello</td><td>String</td></tr>
			<tr><td>object</td><td></td><td></td><td>JSON String</td></tr>
			<tr><td>原生类</td><td>Object</td><td></td><td>JSON String</td></tr>
			<tr><td>原生类</td><td>Function</td><td></td><td>JSON String</td></tr>
			<tr><td>原生类</td><td>Array</td><td></td><td>JSON String</td></tr>
			<tr><td>原生类</td><td>Date</td><td></td><td>JSON String</td></tr>
			<tr><td>原生类</td><td>RegExp</td><td></td><td>JSON String</td></tr>
			<tr><td>原生类</td><td>Error</td><td></td><td>JSON String</td></tr>
			<tr><td>原生类</td><td>SyntaxError</td><td></td><td>JSON String</td></tr>
			<tr><td>内建类</td><td>Global</td><td></td><td>JSON String</td></tr>
			<tr><td>内建类</td><td>Math</td><td></td><td>JSON String</td></tr>
			<tr><td>内建类</td><td>Arguments</td><td></td><td>JSON String</td></tr>
		</tbody>
	</table>
	<hr/>
	
	<a href="../bind1.mvc">默认参数绑定</a><br/>
	<hr/>
	
	<a href="../bind2.mvc?name=kasei&age=22&money=3.14">简单类型参数绑定</a><br/>
	<hr/>
		 
	<form action="../bind3.mvc" method="get">
		Bean 参数绑定：<br/>
		person.name=<input type="text" name="name"/><br/>
		person.age=<input type="text" name="age"/><br/>
		<input type="submit" value="Submit"/>
	</form>
	<hr/>
	
	<form action="../bind4.mvc" method="get">
		嵌套类型的 Bean 参数绑定：<br/>
		person.name=<input type="text" name="person.name"/><br/>
		person.age=<input type="text" name="person.age"/><br/>
		<input type="submit" value="Submit"/>
	</form>
	<hr/>
		
	<form action="../bind5.mvc" method="post">
		Array 参数绑定：<br/>
		Array[0]=<input type="text" name="strArray"/><br/>
		Array[1]=<input type="text" name="strArray"/><br/>
		Array[2]=<input type="text" name="strArray"/><br/>
		<input type="submit" value="Submit"/>
	</form>
	<hr/>
		
	<form action="../bind6.mvc" method="get">
		List 参数绑定：<br/>
		list[0].name=<input type="text" name="list[0].name"/><br/>
		list[1].name=<input type="text" name="list[1].name"/><br/>
		<input type="submit" value="Submit"/>
	</form>
	<hr/>
	
	<form action="../bind7.mvc" method="get">
		Map 参数绑定：<br/>
		map['person1'].name=<input type="text" name="map['person1'].name"/><br/>
		map['person2'].name<input type="text" name="map['person2'].name"/><br/>
		<input type="submit" value="Submit"/>
	</form>
	<hr/>
	
	
	<!-- json 数据绑定，还没写 -->
	<input id="json1" type="button" value="json 数据传递1"/><br/>
	<input id="json2" type="button" value="json 数据传递2"/><br/>
	<script>
		$(document).ready(function(){
			
			// client 传 json 字符串到 service
			$("#json1").click(function(){	
				
				// 定义传给 service 的对象
				var school = {
					"name":"黄岩中学",
					"classList":[
						{	
							"name":"一班",
							"studentList":[
								{"name":"Kasei", "gender":"男", "age":22},
								{"name":"Haku", "gender":"女", "age":20},
								{"name":"Miku", "gender":"女", "age":16}
							]
						},
						{	
							"name":"二班",
							"studentList":[
								{"name":"AI", "gender":"女", "age":14},
								{"name":"Luka", "gender":"女", "age":24},
								{"name":"Gumi", "gender":"女", "age":17}
							]
						}
					]
				};
				
				$.ajax({
					url: getProjectPath() + "/bind8.mvc", // 前端传 json 字符串，后端用 java bean 接收
					//url: getProjectPath() + "/bind9.mvc", // 前端传 json 字符串，后端用 Map<String,Object> 接收
					type: "post",
					async: false, 
					contentType: "application/json;charset=utf-8",
					data: JSON.stringify(school),
					dataType: "json", 
					success: function(result){
						alert(result.msg);
					},
					error: function(){
						alert("The Ajax Encounter An Exception!");
					}
				});	
			});
				
				// client 传 js 对象到 service
				$("#json2").click(function(){
					var obj ={"name":"Kasei", "age":22};
					$.ajax({
						url: getProjectPath() + "/bind9.mvc",
						type: "post",
						async: false, 
						data: obj, // 直接传 js 对象，跟 {"name":"kasei", "age":2} 一样，{} 是 js 字面量创建的对象
						dataType: "json", 
						success: function(result){
							alert(result.msg);
						},
						error: function(){
							alert("The Ajax Encounter An Exception!");
						}
					});	
					
				});
				
		});
	</script>
	<hr/>
	
	<form action="../bind11.mvc" method="get">
		自定义参数绑定（自定转换器）：String 转  Timestamp <br/>
		yyyy-MM-dd HH:mm:ss=<input type="text" name="timestamp"/><br/>
		<input type="submit" value="Submit"/>
	</form>
	<hr/>
	
	<!-- ######################################################################## -->
	<h1>Controller 向 jsp 页面传递数据</h1>
	<a href="../data2jsp/mv.mvc">返回类型：ModelAndView</a><br/><hr/>
	<a href="../data2jsp/string.mvc">返回类型：String</a><br/><hr/>
	<a href="../data2jsp/responsebody.mvc">返回类型：String 直接返回数据到 Client</a><br/><hr/>
	<a href="../data2jsp/void.mvc">返回类型：void</a><br/><hr/>
	
	
</body>
</html>